html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    /* Color */

    --transparent1: rgba(255, 255, 255, 0.04);
    --transparent2: rgba(255, 255, 255, 0.175);
    --transparent3: rgba(255, 255, 255, 0.2);
    --transparent4: rgba(0, 0, 0, 0.2);
    --transparent5: rgba(255, 255, 255, 0.5);
    --transparent6: rgba(255, 255, 255, 0.1);

    --white1: #ffffff;

    --black1: #000000;

    --purple1: #2a1752;
    --purple2: #7754db;
    --purple3: #26115a;
    --purple4: #13092d;
    --purple5: #d1b8ee;

    --pink1: #ff14b1;
    --pink2: #8a095f;
    --pink3: #ec008c;

    --yellow1: #ffd600;
    --yellow2: rgb(255, 255, 20);
    --yellow3: #f2e216;

    --green1: #14ff63;

    --red1: #ff0000;
    --red2: #da2c3d;

    /* Z-index */
    --menu: 1;
    --menuNavigation: 2;

    --screenWidthRatio: calc(100vw / 1920);
}

@font-face {
    font-family: 'Madgue';
    src: url('/Madgue.ttf');
}
